
%% default compile opts
{erl_opts, [warnings_as_errors]}.

%% plugins
{plugins, [rebar_plugin_manager,
           rebar_skip_deps,
           rebar_phase_plugin]}.

%% NB: this setting is required in order to get the plugins to work properly
{plugin_dir, "deps/rebar_plugin_manager/src"}.

%% things we *do not* want to run in deps
{skip_dep_cmds,
    [clean, create,
     'create-app', 'create-node', 'list-templates',
     retest, test, eunit, qc, quickcheck, ct,
     'check-specs', 'check-all'
     'alien-commands', 'alien-clean']}.


%% define the build lifecycle
{phases, [
    {build,                 [],     ['get-deps', compile]},
    {test,                  build,  [eunit, quickcheck]},
    {'integration-test',    test,   [ct]},
    {package,               test,   [dist]}
]}.

%% dependencies
{deps, [
    {rebar_skip_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_skip_deps.git"}},
    {rebar_phase_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_phase_plugin.git"}}
]}.
