
%% NB: this needs to point to the location this config file will have
%%      when it is being included/imported
{extend, "deps/build_config/base.config"}.

%% coverage reports
{cover_enabled, true}.
{cover_print_enabled, true}.

%% plugins
{plugins, [rebar_plugin_manager,
           rebar_qc_plugin]}.

%% dependencies
{deps, [
    {proper, "1.0",
        {git, "http://github.com/manopapad/proper.git", "master"}},
    {hamcrest, ".*",
        {git, "git://github.com/hyperthunk/hamcrest-erlang.git"}},
    {rebar_qc_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_qc_plugin.git"}}
]}.

