
{extend, "deps/build_config/test.config"}.

{erl_opts, [warnings_as_errors, warn_missing_spec]}.

%% extra PropEr test runs
{qc_check_specs, [".*"]}.
{qc_spec_opts, [long_result, {numtests, 100}]}.

%% xref config
{xref_checks, [undefined_function_calls]}.

{deps, [
    {rebar_paths_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_paths_plugin.git"}}
]}.

{plugins, [rebar_paths_plugin]}.
